/* Global reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
}
header {
  /* gradyan renk yapmak için */
  background: linear-gradient(to right, #ff3a3a, #ff774d, #ff9966, #ff6699);
  padding: 10px 5px;
  margin-bottom: 50px;
  border-bottom: 2px solid black;
}
.productImg {
  width: 20%;
  margin-bottom: 50px;
}
h1 {
  color: white;
  text-transform: uppercase;
  margin-bottom: 15px;

  font-size: 30px;
}
h2 {
  margin-left: 5px;
  margin-bottom: 15px;
}
h4 {
  margin-top: 25px;
  color: blue;
  text-transform: uppercase;
  border-bottom: 1px solid blue;
  /* border-bottom: 1px solid gray; */
}
.add-to-card {
  background-color: #732d91;
  color: white;
  padding: 15px 25px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 15px;
  margin-left: 5px;
}
.add-to-card:hover {
  background-color: #410a50;
}
.add-to-card:active {
  background-color: #ccabda;
}
section p,
a {
  text-decoration: none;
  margin-bottom: 15px;
  margin-left: 5px;
}

.productFeatures {
  /* border-top: 3px solid grey;
  border-bottom: 3px solid gray; */
  /* background: #d1cfcf;
  padding: 15px 0; */

  /* margin-top: 50px; */
  /* width: 500px; */
}
ul li img {
  margin: 15px 0;
}
li:nth-child(odd) {
  background: linear-gradient(to top, rgb(102, 102, 196), rgb(212, 212, 230));
}
li:nth-child(even) {
  background: linear-gradient(to top, rgb(212, 212, 230), rgb(102, 102, 196));
}
ul li p {
  /* border-bottom: 3px solid gray; */
  padding: 30px 20px;
}
